<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="bada">
        <div class="container">
            <div class="piechart"></div>
            <div class="expenditure"></div>
        </div>
        <div class="text">
            <p>ADD YOUR EXPENSES:</p>
        </div>
        <div class="add">
            <% let i = 0 %>
            <% while(i < categories.length){ %>
                <button class="categories"><p><%= categories[i] %></p></button>
            <%  i++; %>
            <%} %>
            <button class="addcats"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
              </svg></button>
        </div>
    </div> 
    <footer></footer> 
</body>
</html>